<div class="sidebar">
    <h2>APE</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#faehigkeitSubmenu" role="button" aria-expanded="false" aria-controls="faehigkeitSubmenu">Fähigkeit</a>
            <div class="collapse" id="faehigkeitSubmenu">
                <ul class="nav flex-column ml-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/faehigkeit/create">Neue Fähigkeit anlegen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faehigkeit">Fähigkeiten anzeigen</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>